<div class="header pb-6">
  <div class="container-fluid">
    <div class="header-body">
      <div class="row align-items-center py-4">
        <div class="col-lg-6 col-7">
          <h6 class="h2 text-dark d-inline-block mb-0">Exercise</h6>

          <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
            <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
              <li class="breadcrumb-item">
                <a href="javascript:void(0)">
                  <i class="fas fa-book-open text-dark"> </i>
                </a>
              </li>
              <li class="breadcrumb-item">
                <a href="javascript:void(0)" class="text-dark"> Training </a>
              </li>
              <li aria-current="page" class="breadcrumb-item active">Task</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid mt--6">
  <div class="row">
    <div class="col-lg-4 col-md-12">
      <div class="card">
        <div class="card-header">
          <h5 class="h3 mb-0">Course Summary</h5>
        </div>
        <div class="card-body">
          <p>
            This is where the summary of the course will be present. This only a
            prototype. So, the actual product will show the course summary.
          </p>
        </div>
      </div>
    </div>
    <div class="col-lg-8 col-md-12">
      <h5 class="h3 mb-3">Couse levels</h5>
      <div class="card mb-3">
        <div class="card-body py-2">
          <div class="row">
            <div class="col">
              <h4 class="mb-0">Level 1: Title</h4>
            </div>
            <div class="col-auto">
              <button
                class="btn btn-sm btn-primary"
                type="button"
                (click)="navigatePage('training-question')"
              >
                Questions
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="card mb-3">
        <div class="card-body py-2">
          <div class="row">
            <div class="col">
              <h4 class="mb-0">Level 2: Title</h4>
            </div>
            <div class="col-auto">
              <button
                class="btn btn-sm btn-primary"
                type="button"
                (click)="navigatePage('training-question')"
              >
                Questions
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="card mb-3">
        <div class="card-body py-2">
          <div class="row">
            <div class="col">
              <h4 class="mb-0">Level 3: Title</h4>
            </div>
            <div class="col-auto">
              <button
                class="btn btn-sm btn-primary"
                type="button"
                (click)="navigatePage('training-question')"
              >
                Questions
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="card mb-3">
        <div class="card-body py-2">
          <div class="row">
            <div class="col">
              <h4 class="mb-0">Level 4: Title</h4>
            </div>
            <div class="col-auto">
              <button
                class="btn btn-sm btn-primary"
                type="button"
                (click)="navigatePage('training-question')"
              >
                Questions
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="card mb-3">
        <div class="card-body py-2">
          <div class="row">
            <div class="col">
              <h4 class="mb-0">Level 5: Title</h4>
            </div>
            <div class="col-auto">
              <button
                class="btn btn-sm btn-primary"
                type="button"
                (click)="navigatePage('training-question')"
              >
                Questions
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="card mb-3">
        <div class="card-body py-2">
          <div class="row">
            <div class="col">
              <h4 class="mb-0">Level 6: Title</h4>
            </div>
            <div class="col-auto">
              <button
                class="btn btn-sm btn-primary"
                type="button"
                (click)="navigatePage('training-question')"
              >
                Questions
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="card mb-3">
        <div class="card-body py-2">
          <div class="row">
            <div class="col">
              <h4 class="mb-0">Level 7: Title</h4>
            </div>
            <div class="col-auto">
              <button
                class="btn btn-sm btn-primary"
                type="button"
                (click)="navigatePage('training-question')"
              >
                Questions
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
