<div class="header pb-6">
  <div class="container-fluid">
    <div class="header-body">
      <div class="row align-items-center py-4">
        <div class="col-lg-6 col-7">
          <h6 class="h2 text-dark d-inline-block mb-0">List</h6>

          <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
            <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
              <li class="breadcrumb-item">
                <a href="javascript:void(0)">
                  <i class="fas fa-scroll text-dark"> </i>
                </a>
              </li>
              <li class="breadcrumb-item">
                <a href="javascript:void(0)" class="text-dark"> Examination </a>
              </li>
              <li aria-current="page" class="breadcrumb-item active">List</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid mt--6">
  <div class="row">
    <div class="col-lg-8 col-md-12">
      <div class="row">
        <div class="col">
          <div class="card">
            <div class="card-header bg-success">
              <p class="text-white text-center mb-0">
                <b>Warning!</b> This is examination's page. Becareful with your
                actions.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-12 d-flex align-items-stretch">
          <div class="card">
            <div class="card-header">
              <h5 class="h3 mb-0">Javascript Programming</h5>
            </div>
            <div class="card-body">
              <p class="text-muted">
                JavaScript, often abbreviated as JS, is a programming language
                that conforms to the ECMAScript specification.
              </p>
            </div>
            <div class="card-footer d-flex justify-content-center">
              <button
                class="btn btn-primary"
                type="button"
                (click)="navigatePage('exam-question')"
              >
                Take exam
              </button>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-12 d-flex align-items-stretch">
            <div class="card">
                <div class="card-header">
                  <h5 class="h3 mb-0">Machine Learning</h5>
                </div>
                <div class="card-body">
                  <p class="text-muted">
                    Machine learning is the study of computer algorithms that
                    improve automatically through experience and by the use of
                    data.
                  </p>
                </div>
                <div class="card-footer d-flex justify-content-center">
                  <button
                    class="btn btn-primary"
                    type="button"
                    (click)="navigatePage('exam-question')"
                  >
                    Take exam
                  </button>
                </div>
              </div>
        </div>
        <div class="col-lg-4 col-md-12 d-flex align-items-stretch">
            <div class="card">
                <div class="card-header">
                  <h5 class="h3 mb-0">Web Technology</h5>
                </div>
                <div class="card-body">
                  <p class="text-muted">
                    Web technology refers to the means by which computers
                    communicate with each other using markup languages and
                    multimedia packages. It gives us a way to interact with
                    hosted information, like websites. Web technology involves
                    the use of hypertext markup language (HTML) and cascading
                    style sheets (CSS).
                  </p>
                </div>
                <div class="card-footer">
                  <h5 class="text-muted text-center">Available at 2 Dec 2021</h5>
                </div>
              </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-12">
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        <h5 class="h3 mb-0">Reminders</h5>
                    </div>
                    <div class="card-body">
                        <h5 class="text-info">Examinations will expired at 10 Dec 2021</h5>
                        <h5 class="text-info">Grading will start at 15 Dec 2021</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        <h5 class="h3 mb-0">Upcoming</h5>
                    </div>
                    <div class="card-body">
                        <h5 class="text-muted">Web Technology at 2 Dec 2021</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>
