<div class="header pb-6">
  <div class="container-fluid">
    <div class="header-body">
      <div class="row align-items-center py-4">
        <div class="col-lg-6 col-7">
          <h6 class="h2 text-dark d-inline-block mb-0">List</h6>

          <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
            <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
              <li class="breadcrumb-item">
                <a href="javascript:void(0)">
                  <i class="fas fa-book-open text-dark"> </i>
                </a>
              </li>
              <li class="breadcrumb-item">
                <a href="javascript:void(0)" class="text-dark"> Training </a>
              </li>
              <li aria-current="page" class="breadcrumb-item active">Course</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid mt--6">
  <div class="row">
    <div class="col-lg-8 col-md-12">
      <div class="card">
        <div class="card-body">
          <ul class="list-group list-group-flush list my--3">
            <li class="list-group-item px-0">
              <div class="row">
                <div class="col">
                  <h3>Javascript Programming</h3>
                </div>
                <div class="col-auto">
                  <button class="btn btn-sm btn-primary" type="button" (click)="navigatePage('training-exercise')">
                    Continue
                  </button>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <p>
                    JavaScript, often abbreviated as JS, is a programming
                    language that conforms to the ECMAScript specification.
                  </p>
                </div>
              </div>
            </li>
            <li class="list-group-item px-0">
              <div class="row">
                <div class="col">
                  <h3>Machine Learning</h3>
                </div>
                <div class="col-auto">
                  <button class="btn btn-sm btn-primary" type="button" (click)="navigatePage('training-exercise')">
                    Continue
                  </button>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <p>
                    Machine learning is the study of computer algorithms that
                    improve automatically through experience and by the use of
                    data.
                  </p>
                </div>
              </div>
            </li>
            <li class="list-group-item px-0">
              <div class="row">
                <div class="col">
                  <h3>Web Technology</h3>
                </div>
                <div class="col-auto">
                  <button class="btn btn-sm btn-primary" type="button" (click)="navigatePage('training-exercise')">
                    Continue
                  </button>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <p>
                    Web technology refers to the means by which computers
                    communicate with each other using markup languages and
                    multimedia packages. It gives us a way to interact with
                    hosted information, like websites. Web technology involves
                    the use of hypertext markup language (HTML) and cascading
                    style sheets (CSS).
                  </p>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-12">
        <div class="card">
            <div class="card-body">
                <ul class="list-group list-group-flush list my--3">
                    <li class="list-group-item px-0">
                        <h5 class=" text-primary mb-0">
                            <a href="javascript:void(0)" (click)="navigatePage('training-exercise')"> Javascript Programming </a>
                        </h5>
                    </li>
                    <li class="list-group-item px-0">
                        <h5 class=" text-primary mb-0">
                            <a href="javascript:void(0)" (click)="navigatePage('training-exercise')"> Machine Learning </a>
                        </h5>
                    </li>
                    <li class="list-group-item px-0">
                        <h5 class=" text-primary mb-0">
                            <a href="javascript:void(0)" (click)="navigatePage('training-exercise')"> Web Technology </a>
                        </h5>
                    </li>
                </ul>
            </div>
        </div>
    </div>
  </div>
</div>
